POSTIZ_BASE_URL=https://postiz.app.t3ai.xyz
JWT_SECRET=replace-me
POSTIZ_DB_USER=postiz
POSTIZ_DB_PASSWORD=replace-me
POSTIZ_DB_NAME=postiz
POSTIZ_REDIS_PASSWORD=replace-me
TEMPORAL_DB_USER=temporal
TEMPORAL_DB_PASSWORD=replace-me
DISABLE_REGISTRATION=false
STORAGE_PROVIDER=local
